// colors
$first-section-background: #83a3db;
$font-color: #fff;

// width
$max-width: 1170px;

// height
$first-section-height: 100vh;

// font-size
$head-font-size: 26px;

// padding
$head-font-padding: 35px 0;

// weight
$font-weight: 500;

// font-family
$font-family: "Montserrat", sans-serif;
